@import "../../css/mixins.scss";

.form-container {
  width: 70%;
  margin: 40px auto;
  // max-height: 70rem;
  overflow: scroll;
  //background-color: $secondary;
}

.bgcolor {
  //background-color: rgb(240, 211, 116);
}
.mydiv {
  background-color: rgb(196, 132, 132);
  width: 100%;
  height: 100px;
}

.reminder-block {
  margin-top: 2.5rem;
  border: 1px solid $secondary;
  border-radius: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.03rem;

  &__header {
    position: relative;
    left: 1.3rem;
    top: -1rem;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    z-index: 999;
    background-color: $dark-page;
    display: inline;
    padding: 0 0.5rem;
  }

  &__content {
    margin: -0.6rem 0 1.7rem 0.5rem;
  }

  &__custom-days-container {
    margin: 0.8rem 0 1rem 0.7rem;
  }
}

.q-option-group {
  font-size: large;
}

.m-btn {
  transition: all 0.2s ease-in-out;
  min-width: 100% !important;
  min-height: 5rem !important;
  @include respond(tab-portrait) {
    min-height: 5rem !important;
  }
  @include respond(tab-landscape) {
    min-height: 4rem !important;
  }
  @include respond(std-desktop) {
    min-height: 4rem !important;
  }
  @include respond(big-desktop) {
    min-height: 4rem !important;
  }
  &:hover {
    background-color: #2cc0a2 !important;
  }
}
